table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    text-align: left;
    border-top: 1em solid transparent;
}

thead th:first-child {
    text-align: center;
}

tbody tr {
    background-color: white;
    border: 1em solid transparent;
    border-color: #f6f7f8;
    border-radius: 10px;
}

td {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
}

td:first-child {
    text-align: center;
}

